.chartContainer {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.chartContainer h3 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 20px;
}

.chartWrapper {
  position: relative;
  flex-grow: 1; /* Allows the chart to fill the available space */
}

