.listContainer {
  margin-top: 30px;
}

.listContainer h3 {
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.list {
  list-style-type: none;
  padding: 0;
  margin-bottom: 40px;
}

.list li {
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  color: #333;
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 10px;
  margin: 10px 0;
  border-radius: 4px;
}

/* Style for expense items */
.expense {
  border-right: 5px solid #c0392b; /* Red */
}

/* Style for income items */
.income {
  border-right: 5px solid #27ae60; /* Green */
}

.noTransactions {
  text-align: center;
  color: #777;
  margin-top: 20px;
}

deleteBtn {
  cursor: pointer;
  background-color: #e74c3c; /* Red */
  border: 0;
  color: #fff;
  font-size: 20px;
  line-height: 20px;
  padding: 2px 5px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-100%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.list li:hover .deleteBtn {
  opacity: 1;
}