@import "tailwindcss";

@layer base {
  @keyframes mouse-glare {
    0%, 100% {
      transform: translate(-50%, -50%) translate(var(--mouse-x), var(--mouse-y));
    }
  }
  .animate-mouse-glare {
    animation: mouse-glare 0.1s linear;
  }
}
